In [ ]:
#def keyword allows us to create function in python

In [ ]:
#syntax for creating a function in python
#def keyword, correct indentation, proper structure

In [ ]:
#overview of python function structure

In [1]:
#definitin of the function

def name_of_function():
    '''
    optinal multiline string or docstring describes function
    '''
    #code to be executed every time you call the function to be written here
    print('Hello')

In [2]:
name_of_function() #function call

Hello

In [6]:
def name_of_function(name):
    print('Hi '+name)
name_of_function('Ganapathi bappa')

Hi Ganapathi bappa

In [ ]:
#arguements/parameters can be passed into the function which contains variables passed t work within the function

colon indicates upcoming indented block, everything indented inside the function

In [ ]:
#snake casing for the name of the function: all lower case letters with underscores between the words


#in object oriented programming class calls use camel casing

In [8]:
def multi1(n1,n2):
    return n1*n2
product=multi1(3,6)
product

18

In [1]:
def function1():
    print('om gam ganapataye namaha')

In [2]:
function1()

om gam ganapataye namaha

In [6]:
def function1(name):
    print(f'hello {name}')
function1('ganapati bappa')

hello ganapati bappa

In [8]:
def function1(name='ganesh'):
    print(f'hello {name}')
function1('ganapati bappa')

hello ganapati bappa

In [17]:
def print_result(a,b):
    print(a/b)

d=print_result(23,2)

11.5

In [19]:
type(d)

NoneType

In [20]:
def return_result(a,b):
    return a/b

c=return_result(23,2)

In [21]:
c

11.5

In [2]:
def sum1(n1,n2):
    return n1+n2

In [3]:
sum1('3','4')

'34'

In [5]:
def checkeven(n1):
    if n1%2==0:
        print('even')
    else:
        print('odd')

In [3]:
checkeven(40)

even

In [6]:
checkeven(13)

odd

In [9]:
def checkeven(n1):
    f = n1%2 == 0
    return f

In [10]:
checkeven(12)

True

In [11]:
checkeven(17)

False

In [12]:
def checkeven(n1):
    return n1%2 == 0

In [13]:
checkeven(20)

True

In [ ]:
#return true if any number inside a list is even

In [21]:
def list_even1(list1):
    j=0
    for i in list1:
        if i%2==0:
            while j<1:
                return True
                j+=1

In [14]:
list1=[]
for h in range(0,11):
    list1.append(h)

list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
k=list1

In [16]:
k

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
type(k)

list

In [23]:
list_even1(k)

True

In [24]:
list2=[9,3,7,1]

In [25]:
list_even1(list2)

In [6]:
attend_list = [('Abby',100),('Billy',2400),('Cassie',800)]

In [4]:
def emp_of_year(attend_list):
    work_days=0
    for emp_name,no_days in attend_list:
        if no_days>work_days:
            work_days=no_days
            employee_name=emp_name
        pass
    return (employee_name,work_days)

In [7]:
emp_of_year(attend_list)

('Billy', 2400)